{% extends 'base3.html' %}
{% block extracss1 %}
 <!-- <link rel="stylesheet" href="static/css/master1.css"> -->
 {% endblock extracss1 %}
{% block title %} Swasth-Admin {% endblock title %}
{% block admin %} active {% endblock admin %}
{% block head1 %} Admin {% endblock head1 %}
{% block head2 %} Admin Page {% endblock head2 %}
{% block content %}
<h1>Welcome, Admin</h1>
  <!-- <div class="box">
	<div class="inner">
	  <span>Welcome</span>
	</div>
	<div class="inner">
	  <span>Admin</span>
	</div>
  </div> -->
{% endblock content %}