<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/blockchainTable.css">
    <link rel="icon" href="{{url_for('static', filename='images/SwasthLogo.png')}}">
    <title>Blockchain Table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Time</td>
                <td>AdminID</td>
                <td>UserID</td>
            </tr>
        </thead>
        <tbody>
            {% for tup in blockData %}
            <tr>
                {% for i in tup %}
                    {% if loop.index == 1 %}
                        <td id="time">{{convertUnixToIndian(i)}}</td>
                    {% else %}
                        <td>{{i}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>